<div class="container">

    <br>

    <div class="row bg-warning">

        <div class="col-lg-1"></div>

        <div class="col-lg-10 text-center">

            <img src="/assets/images/burg.png" alt="burg">

        </div>

        <div class="col-lg-1"></div>

    </div>

    <hr>

    <div class="row bg-warning">

        <div class="col-lg-1"></div>

        <div class="col-lg-5 text-center">

            <h3>Available:</h3>

            <h5>

                {{#each safe}}

                <p>{{id}}. {{name}}

                    <button type="button" class="btn btn-danger" id={{id}}>Devour</button>

                </p>

                {{/each}}

            </h5>

            <div id="results-modal" class="modal fade text-center" role="dialog">

                <div class="modal-dialog">

                    <div class="modal-content">

                        <div class="modal-header">

                            <h3 class="modal-title"><strong>Who ate this burger?</strong></h3>

                        </div>

                        <div class="modal-body">

                            <form>

                                <br>

                                <div class="form-group">

                                    <textarea class="form-control" id="custName" rows="1" placeholder="Customer name"></textarea>

                                </div>

                                <h3 class="text-danger bg-warning" id="cWarn"></h3>

                                <button type="submit" class="btn btn-primary" id="custSubmit">Submit</button>

                            </form>

                            <br>

                        </div>

                        <div class="modal-footer">

                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                        </div>

                    </div>

                </div>

            </div>

        </div>

        <div class="col-lg-5 text-center">

            <h3>Devoured:</h3>

            <h5>

                {{#each eaten}}

                <p>{{cname}} ate {{bname}}.</p>

                {{/each}}

            </h5>

        </div>

        <div class="col-lg-1"></div>

    </div>

    <br>

    <div class="row bg-warning burgb">

        <div class="col-lg-4"></div>

        <div class="col-lg-4 text-center">

            <form>

                <br>

                <div class="form-group">

                    <textarea class="form-control" id="text" rows="1" placeholder="Add a burger"></textarea>

                </div>

                <h3 class="text-danger bg-warning" id="warn"></h3>

                <button id="submitBurg" type="submit" class="btn btn-primary">Submit</button>

            </form>

            <br>

        </div>

        <div class="col-lg-4"></div>

    </div>

    <br>

</div>